body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 0 0 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
}

table th,
table td {
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
    border: 1px solid #e2e8f0;
}

table th {
    font-weight: 600;
    background-color: #f7fafc;
}

table tr:nth-child(even) {
    background-color: #f7fafc;
}

table tr:hover {
    background-color: #edf2f7;
}

/* Style for the button container */
.button-container {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

/* Styles for the buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.prev-button {
    margin-left: auto; /* Ensure the button is aligned to the left */
    flex-grow: 1; /* Allow the button to grow */
}

.next-button {
    margin-right: auto; /* Ensure the button is aligned to the right */
    flex-grow: 1; /* Allow the button to grow */
}