.poke-card-title {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.pokemon-card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.pokemon-card-content {
    background-color: #4A90E2;
}

.poke-card-img {
    width: 200px;
    height: 200px;
}

.nav-button {
    background-color: #4A90E2;