div(id="pokemon-list")
  p
    if data.previous
      a(href=convertUrl(data.previous) hx-push-url="false" hx-boost='true' hx-target='#pokemon-list' class="waves-effect waves-light btn left") Previous
    else
      a(disabled class="waves-effect waves-light btn left") Previous
    if data.next 
      a(href=convertUrl(data.next) hx-push-url="false" hx-boost='true' hx-target='#pokemon-list' class="waves-effect waves-light btn right") Next
    else
      a(disabled class="waves-effect waves-light btn right") Next
  table(class="highlight")
    thead
      tr
        th Name
    tbody
      each result in data.results
        tr
          td= result.name